**/.venv/
/**/.idea/*
*.pyc
*.tif
node_modules/.yarn-integrity
!**/wandb/**
/segmentation/models/arch/nnunet/wandb
/segmentation/models/arch/nnunet/nnunetv2.egg-info
segmentation/models/arch/nnunet/nnunetv2.egg-info/SOURCES.txt
